*{
	margin:0;
	padding: 0;
	font-family: Centuary Gothic;
}
header{ 
	background-image:url('art.jpg');
	height:100vh;
	background-size: cover;
	background-color: center;
}

ul{
	float:right;
	list-style-type: none;

}
ul li{
	display:inline-block;
}
ul li a{
	text-decoration: none;
	color: Green;
	padding: 20px 20px;
	border:1px solid transparent;
	margin-top: 25px; 
	transition: 0.6s ease;
	font-size: 25px;
}
ul li a:hover{
	background-color: #fff;
	color:Blue;
}
ul li.active a{
	background-color: #fff;
	color:Blue;
}
h1{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	color:Black;
	font-size: 50px;


}
.main{
	max-width: 1200px;
	margin:auto;
}
.button{
	position: absolute;
	top:62%;
	left:50%;
	transform:translate(-50%,-50%);
}
.btn{
	border:1px solid Black;
	padding:10px 30px;
	color:Black;
	text-decoration: none;
}
.btn:hover{
	background-color: #fff;
	color:Blue;
	transition: 0.6s ease;

}
body{
	background-image: linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)),url(pic1.jpg);
	height: 100vh;
	background-size:cover;
	background-position: center; 
}
.login-form{
	width: 360px;
	padding: 10% 0 0;
	margin:auto;
}
.form{
	position: relative;
	z-index: 1;
	background:rgba(7,40,195,0.8);
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}
.form input{
	font-family:"Roboto",sans-serif;
	outline:1;
	background: #f2f2f2;
	width: 100%;
	border:0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.form button{
	font-family: "Roboto",sans-serif;
	text-transform: uppercase;
	outline: 0;
	background:#4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color:#FFFFFF;
	font-size: 14px;
	cursor: pointer;
}
.form button:hover,.form button:active{
	background:#43A047;
}
.form.message{
	margin: 15px 0 0;
	color: aliceblue;
	font-size: 12px;
}
.form.message a{
	color: Red;
	text-decoration: none;

}
.Gallery
{
	margin: 10px 50px;
}
.Gallery image{
	transition: 1s;
	padding: 15px;
	width:2000px;
}
.Gallery image:hover{
	filter:grayscale(100%);
	transform:scale(1.1);
}
